.container {
  display: grid;
  grid-gap: 15px;
  /*FITS the CURRENTLY AVAILABLE columns into the space
     by expanding them so that they take up any available space*/
  /*min 100px, max 1fr*/
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 95px;
  /*"dense" packing algorithm attempts to fill in holes 
    earlier in the grid, if smaller items come up later.*/
  grid-auto-flow: dense;
  /*tova shte otpadne*/
  max-width: 60em;
  margin: auto;
  padding: 3em 0;
}
/*takes two columns*/
.horizontal {
  grid-column: span 2;
}
/*takes two rows*/
.vertical {
  grid-row: span 2;
}
/*takes two columns and two rows*/
.big {
  grid-column: span 2;
  grid-row: span 2;
}
