/* Footer */
.site-footer {
    color: var(--white);
    margin-top: -3em;

    .footer-wrapper {
        max-width: 80%;
        padding-bottom: 2.5em;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .left-column {
            flex: 1 0 55%;
        }

        .right-column {
            flex: 1 0 45%;
        }

        .right-column {
            text-align: right;
        }
    }

    a {
        color: var(--white);
        font-size: 1.1em;
        font-weight: 700;

        &:hover {
            text-shadow: 0 0 10px #9c27b0;
        }
    }

    p {
        padding-bottom: 0;
        font-size: 0.5rem;
    }
}

.footer-nav ul {
    display: flex;
    gap: 3em;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        a {
            font-size: 1.5rem;
            color: var(--secondary-color);
        }

        &.active {
            a {
                color: var(--title-color);
            }
        }
    }
}

.button > span {
    background-color: gray;
    color: var(--white);
    padding: 0.5em 1em;
    position: relative;
    z-index: 9;
}

.footer-wrapper .trade-mark {
    font-size: 30px;
    color: var(--white);
    text-shadow: 0 0 10px #9c27b0;
    text-align: left;
    padding-top: 0;
    margin-bottom: 0.5em;
}

p.made-by {
    color: var(--white);
    font-size: 0.7rem;
}