/*Footer*/
.site-footer {
  color: #fff;
  margin-top: -3em;

  .footer-wrapper {
    max-width: 80%;
    padding-bottom: 2.5em;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .left-column,
    .right-column {
      flex: 1 0 50%;
    }

    .right-column {
      text-align: right;
    }
  }

  a {
    color: var(--backgoround-color);
    font-size: 1.1em;

    &:hover {
      text-shadow: 0 0 10px #9c27b0;
    }
  }

  p {
    padding-bottom: 0;
  }
}

.footer-nav ul {
  display: flex;
  gap: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
}

p.slogan {
  text-align: center;
  line-height: 1.2;
  font-size: 1rem;
}

.button > span {
  background-color: gray;
  color: #fff;
  padding: 0.5em 1em;
  position: relative;
  z-index: 9;
}

.button {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  a {
    background: var(--title-color);
    color: #333;
    padding: 0.5em 1em;
    font-size: 1.1em;
    box-shadow: 1px 2px 10px -7px rgb(0 0 0);
    font-weight: 500;

    &:hover {
      color: var(--accent-color);
      background: var(--background-color);
      box-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc,
        1px 1px 0 #ccc;
    }
  }

  svg {
    width: 22px;
    height: auto;
  }
}

.footer-wrapper .trade-mark {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px #9c27b0;
  text-align: left;
  padding-top: 0;
  margin-bottom: 0.5em;
}
