/* Large displays */

@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
    header {
        padding-top: 50vh;

        .site-header p {
            font-size: 1em;
            padding: 0.5em;
        }
        
        .site-nav ul li a {
            font-size: 1.5em;
        }
    }


    .site-title h1 {
        margin-bottom: 20px;
        font-size: 1.4em;
    }

    /* Main */
    main {
        max-width: 90%;

        .wrapper-content {
            margin-bottom: 4em;
        }
    }

    h2 {
        font-size: 2em;
    }

    .site-wrapper .site-title {
        padding: 0.8em;
    }
    
    /* Lists */
    ul {
        font-size: 15px;

        &.hard-list li,
        &.soft-list li {
            span {
                font-size: 21px;
            }
            svg {
                width: 34px;
            }
        }
        
    }

    span {
        font-size: 1.2em;
    }

    /* Skills */
    .wrapper-skills {
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        justify-items: center;
        grid-template-areas:
        "skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4"
        "skill5 skill5 skill5 skill5 skill6 skill6 skill6 skill6";
    }

    /* JS projects */
    article {
        width: 60% !important;
    }
}

/* Desktop */
@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    header {
        padding-top: 50vh;
        
        .site-header p {
            font-size: 1em;
            line-height: 1.1;
            padding: 0.5em;
        }
        
        .site-logo {
            padding-right: 0;
            padding-bottom: 0.5em;
        }

        .site-nav ul li a {
            font-size: 1.5em;
        }
    }

    .site-title h1 {
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    /* Main */
    main {
        max-width: 90%;
    }

    .headerParagraph span {
        font-size: 1.8em;
        line-height: 1.3;
    }

    .wrapper-content {
        margin-bottom: 4em;
    }
    
    ol li {
        font-size: 0.8em;
    }

    .site-wrapper .site-title {
        padding: 0.8em;
    }

    .grid-my-story {
        grid-template-rows: 0.8fr 1fr 1fr;
        grid-template-areas:
        "media media media media media media"
        "story story story story story story"
        "only-story only-story only-story only-story only-story only-story";
    }

    .wrapper-media {
        align-self: center;
    }

    /* Lists */
    ul {
        font-size: 14px;

        ul.hard-list li,
        ul.soft-list li {
            span {
                font-size: 21px;
            }
        
            svg {
                width: 34px;
            }
        }
    }

    span.inner-link svg {
        width: 30px;
        height: auto;
    }

    /* Skills */
    .wrapper-skills {
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        justify-items: center;
        grid-template-areas:
        "skill1 skill1 skill1 skill1 skill2 skill2 skill2 skill2"
        "skill3 skill3 skill3 skill3 skill4 skill4 skill4 skill4"
        "skill5 skill5 skill5 skill5 skill6 skill6 skill6 skill6";
    }

    /* Services */
    .wrapper-services {
        grid-template-areas:
        "service1 service1 service1 service2 service2 service2"
        "service3 service3 service3 service3 service3 service3";
    }

    /* JS projects */
    article {
        width: 60% !important;
    }

    /* Gallery */
    .wrapper-gallery {
        grid-template-columns: 1fr 1fr !important;
    } 
}

/* Tablet */
@media (max-width: 767px) {
    /* Header */
    header {
        padding-top: 50vh;

        .site-header {
            min-width: 100%;
            justify-content: center;

            .inner-header {
                width: 95%;

                .site-nav {
                    justify-content: center;
                    
                    ul li {
                        padding: 1em 0em;

                        a {
                            padding: 0 0.5em;
                        }
                    }
                }
            }

            p {
                font-size: 1em;
                line-height: 1.1;
                padding: 0.5em;
            }
        }
    }

    .site-title h1 {
        margin-bottom: 15px;
        font-size: 1.2em;
    }
    
    .headerParagraph {
        p {
            font-size: 1.5em;
            line-height: 1;
        }
        
        span {
            font-size: 1.5em;
            line-height: 1;
        }
    }

    .presentation {
        min-width: 95%;
    }

    /* Main */
    .site {
        main {  
            .wrapper-content {
                margin-bottom: 2em;
                padding: 1em;
    
                .wrapper-text,
                .wrapper-media {
                    flex: 1 0 100%;
                    min-width: 100%;
                }
    
                .wrapper-text {
                    margin-right: 0;
                    padding: 0.5em;
                }
    
                .wrapper-media {
                    align-self: center;
                    grid-area: media;
                    align-self: center;
                }
    
                .background-layer {
                    grid-column: 1 / 7;
                }
            }
        }
    }

    .flex-content {
        flex-wrap: wrap;
    }
    .wrapper-my-story {
        .grid-my-story {
            grid-template-areas:
            "media media media media media media"
            "story story story story story story";
            grid-template-rows: 0.5fr 1fr;
        }
        
    }

    .site-wrapper .site-title {
        padding: 0.7em;
    }

    h3 {
        font-size: 1.1em;
    }

    /*Lists*/
    ul {
        font-size: 14px;
    }

    ul.hard-list,
    ul.soft-list {
        justify-content: center;
        margin: 0;

        li {
            span {
                font-size: 16px;
                line-height: 1.1;
            }
            svg {
                width: 34px;
            }
        }
    }

    ol li {
        margin: 0 0 2em 0.5em;
        padding-left: 1.5em;
        &::before {
            font-size: 1.1em;
        }
    }

    .slick-prev,
    .slick-next {
        width: 20px !important;
        height: 20px !important;
        
        &::before,
        &::before {
            font-size: 20px !important;
        }
    }

    span.inner-link svg {
        width: 30px;
        height: auto;
    }

    /* Skills */
    .wrapper-skills {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "skill1 skill1 skill1 skill1"
        "skill2 skill2 skill2 skill2"
        "skill3 skill3 skill3 skill3"
        "skill4 skill4 skill4 skill4"
        "skill5 skill5 skill5 skill5"
        "skill6 skill6 skill6 skill6";
    }
    /* Services */
    .wrapper-services {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "service1 service1 service1 service1 service1 service1"
        "service2 service2 service2 service2 service2 service2"
        "service3 service3 service3 service3 service3 service3";
        grid-gap: 0;

        svg {
            width: 18% !important;
        }
    }

    /* Projects */
    .wrapper-project-process {
        svg {
            display: none;
        }
    }
    .wrapper-project {
        .project-info {
            flex-direction: column;
        
            .project-text,
            .project-media {
                flex: 1 0 100%;
                max-width: 100%;
                padding: 0;
            }

        }

        .wrapper-project-process svg {
            display: none;
        }

        .carousel {
            padding: 0;
            
            .slick-slide img {
                transform: none;
        
                img:hover {
                    transform: none;
                    transition: none;
                }
            }
        }
    }
    
    .contact-form {
        flex-direction: column;
        align-items: center;
    }
    .button a {
        margin: 2em 0;
    }

    /* JS projects */
    article {
        width: 80% !important;
    }

    .wrapper-js-links {
        flex-direction: column;
    }

    /* Gallery */
    .wrapper-gallery {
        grid-template-columns: 1fr !important;
    } 

    .gallery-items img {
        width: 100%;
    }

    .footer-nav ul {
        gap: 1em;
    }
}
