.site-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0.8em;
            list-style: none;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;

            &:last-child {
                padding-right: 0;
            }

            a {
                margin: 0;
                font-family: "Titillium Web", sans-serif;
                font-size: 1.3em;
                font-weight: 700;
                color: rgba(53, 13, 130, 0.8);

                &:hover {
                color: darkgoldenrod;
                }
            }

            &.active a {
                color: darkgoldenrod;
            }
        }
    }
}
