.site-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-nav ul {
  padding: 0;
  margin: 0;
}

.site-nav ul li {
  padding: 0.8em;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.site-nav ul li:last-child {
  padding-right: 0;
}
.site-nav ul li a {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
}
.site-nav ul li.active a,
.site-nav ul li a:hover {
  color: var(--accent-color);
}

.site-nav-label {
  display: none;
}

.site-nav-toggle + header .site-nav-label .open {
  display: block;
}
.site-nav-toggle + header .site-nav-label .close {
  display: none;
}

.site-nav-toggle:checked + header .site-nav-label .open {
  display: none;
}
.site-nav-toggle:checked + header .site-nav-label .close {
  display: block;
}

.site-nav-toggle:checked + header .site-nav {
  display: flex;
}

.site > input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 600px) {
  .site-content {
    padding-top: 0 !important;
  }

  .site-nav-label {
    display: block;
    color: #fff;
    padding: 0.8em 1em;
    position: fixed;
    top: 70px;
    left: 0;
    min-width: 100%;

    font-size: 1.3em;
    font-weight: 600;
    text-align: center;

    background: var(--background-color);
    border-bottom: 1px solid #ccc;
    z-index: 20;
  }

  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    flex-wrap: wrap;
  }

  .site-nav {
    width: 100%;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 134px;
    border-bottom: 0;
    display: none;
  }
  .site-nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.5em 1.5em;
  }
  .site-nav ul li {
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
  }
  .site-nav ul li:last-child {
    border-bottom: none;
  }
  .site-nav ul li a {
    color: #fff;
    text-shadow: none;
  }
  .site-nav ul li.active a {
    color: hsl(306deg 71% 89% / 80%);
  }
}
@media (min-width: 601px) {
  .site-nav {
    display: flex;
  }
}
