.site-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.site-nav ul{
    padding: 0;
    margin: 0;
}


.site-nav ul li{
    padding: 0.8em;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
	position: relative;
    border-radius: 5px;
}
.site-nav ul li:last-child{
    padding-right: 0;
}
.site-nav ul li a{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    color: #fff;
    text-shadow: -1px -1px 0 #bbb, 1px -1px 0 #bbb, -1px 1px 0 #333, 1px 1px 0 #333;

}
.site-nav ul li.active a,
.site-nav ul li a:hover{
    color: #555; 
}

.site-nav-label{
    display: none;
}

.site-nav-toggle + header .site-nav-label .open {display: block;}
.site-nav-toggle + header .site-nav-label .close {display: none;}

.site-nav-toggle:checked + header .site-nav-label .open {display: none;}
.site-nav-toggle:checked + header .site-nav-label .close {display: block;}

.site-nav-toggle:checked + header .site-nav{
    display: flex;
}

.site > input {
    display: block;
    position: absolute;
    top: 0; left: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 600px){
    .site-content {
        padding-top: 0 !important;
    }

    .site-nav-label{
        display: block;
        color: #fff;
        text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
        border-radius: 0.3em;
        padding: 0.5em 1em;
        position: absolute;
        top: 5em;
        left: 0;
        min-width: 100%;
        font-weight: 600;
        text-align: center;
        background: linear-gradient(rgba(247, 208, 243, 0.3), rgba(246, 247, 182, 0.3));
        box-shadow: 0 0 1em #555;
    }

    .site-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
        flex-wrap: wrap;
    }

    .site-nav {
        width: 100%;
        justify-content: center;      
        position: absolute;
        left: 0;
        top: 130px;
        border-bottom: 0;
        background-color: hsl(306deg 71% 89% / 80%);
        display: none;
    }
    .site-nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;      
        text-align: center;
    }
    .site-nav ul li {
        background: linear-gradient(rgba(247, 208, 243, 0.3), rgba(246, 247, 182, 0.3));
        margin-bottom: 2px;
    }
}
@media (min-width: 601px){
    .site-nav{
        display: flex;
    }
}
