/*Projects*/
.wrapper-project-process {
    position: relative;

    h3 {
        padding-bottom: 1em;
    }

    svg {
        position: absolute;
        top: 36%;
        left: 30%;
        fill: var(--title-color);
        opacity: 0.5;
    }
}

.wrapper-project {
    background: linear-gradient(
            30deg,
            rgba(53, 13, 130, 0.9) 0%,
            rgba(128, 33, 181, 0.7) 100%
            );

    .wrapper-project-inner{
        padding-block: 1em;    

        &::last-child {
            padding-bottom: 0;
        }

        .project-media {
            flex: 1 0 40%;
            max-width: 40%;
        }

        .project-text {
            flex: 1 0 60%;
            max-width: 60%;
            padding: 2em;
            color: #fff;

            p {
                padding-bottom: 1.3em;
                line-height: 1.5;
                font-size: 1.1em;
                color: #fff;
            }
        }

        .project-title {
            flex: 1 0 100%;
            max-width: 100%;
            padding-block: 1em;

            h3, a {
                color: #fff;
            }
        }

        .project-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            h4 {
                padding-bottom: 1em;
                font-weight: 400;
                font-style: italic;
                text-align: left;
                letter-spacing: 0.1em;
            }
        }
    }
}
